.App {
  margin: 0 auto;
  width: 900px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.Settings {
  position: relative;
  width: 340px;
  height: 545px;
}

.Settings .Sub-title {
  margin: 25px 0;
  font-size: 25px;
  font-family: "suez one", "open sans", Arial, Helvetica, sans-serif;
  letter-spacing: 4px;
}

.Settings .Search-player {
  width: 100%;
  padding: 0 10px;
  background: #fafafa;
  height: 56px;
  font-size: 16px;
  text-transform: capitalize;
  border-radius: 3px;
  border: none;
  box-shadow: 0 3px 6px 1px rgba(0, 0, 0, 0.06);
}

.Settings .Results {
  background: #fafafa;
  margin-top: 15px;
  max-height: 340px;
  overflow-y: scroll;
  border-radius: 3px;
  color: rgba(0, 0, 0, 0.95);
  box-shadow: 0 3px 6px 1px rgba(0, 0, 0, 0.06);
}

.Settings .Results .Result-player {
  height: 56px;
  position: relative;
}

.Settings .Results .Result-player:not(:last-child) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.Settings .Results .Result-player .Status {
  display: inline-block;
  line-height: 50px;
  margin: 6px 0 0 0;
  vertical-align: top;
  transform: translateX(10px);
}

.Settings .Results .Result-player .Photo {
  height: 56px;
  margin: 0 10px;
  display: inline-block;
  vertical-align: top;
}

.Settings .Result-player .Icon {
  height: 40px;
  margin-top: 8px;
  display: inline-block;
  vertical-align: top;
  position: absolute;
}

.Settings .Result-player .Icon {
  right: 10px;
}

.Settings .Results .Result-player .Name {
  display: inline-block;
  line-height: 50px;
  margin: 6px 0 0 0;
  vertical-align: top;
  max-width: 144px;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.Settings .Customize {
  position: absolute;
  bottom: 5px;
}

.Settings .Customize .Pitch-style, .Settings .Customize .Tactic {
  margin: 0;
  box-sizing: border-box;
  width: 162px;
  line-height: 56px;
  height: 56px;
  display: inline-block;
  background: #fafafa;
  border-radius: 3px;
  padding: 0 20px;
  border: none;
  color: #000;
  cursor: pointer;
}

.Settings .Customize .Tactic {
  margin-right: 15px;
}

.Settings .CTA {
  display: block;
  width: 100%;
  margin-top: 15px;
  line-height: 56px;
  text-align: center;
  background: #fafafa;
  border-radius: 3px;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.95);
  cursor: pointer;
}

.Pitch {
  width: 540px;
  height: 540px;
  position: absolute;
  left: calc(100% + 20px);
  top: 0;
  background: linear-gradient(to bottom, #2cac2a 0%, #1a6b1d 100%);
  box-shadow: 0 3px 6px 1px rgba(0, 0, 0, 0.06);
  perspective: 800px;
  overflow: hidden;
}

.Pitch::after {
  content: "";
  background: url('/pitches/basic.svg');
  background-size: cover;
  background-position: center center;
  position: absolute;
  display: block;
  transform-origin: bottom center;
  transform: rotateX(45deg) scale(1.4);
  bottom: -1%;
  left: 5%;
  width: 90%;
  height: 109%;
}

.Trash {
  position: absolute;
  top: 3%;
  width: 70%;
  margin: 0 15%;
  background: #681b27;
  border-radius: 3px;
  z-index: 300;
  line-height: 50px;
  text-align: center;
  font-size: 16px;
  display: none;
  transition: opacity 0.3s ease-in-out;
}

.Trash.visible {
  display: block;
}

.Trash.active {
  background: #000;
}

.Pitch .LineupName {
  font-family: 'saira condensed', Arial, Helvetica, sans-serif;
  font-size: 36px;
  z-index: 100;
  width: 100%;
  font-weight: 800;
  top: 3%;
  text-align: center;
  position: absolute;
  text-transform: uppercase;
  margin: 0;
  line-height: 50px;
  user-select: none;
}

.Pitch .LineupName:hover {
  opacity: 0;
}

.Pitch .EditLineupName {
  font-family: 'saira condensed', Arial, Helvetica, sans-serif;
  font-size: 36px;
  font-weight: 800;
  text-transform: uppercase;
  position: absolute;
  z-index: 200;
  background: #fff;
  color: #000;
  top: 3%;
  display: block;
  margin: 0 15%;
  border-radius: 5px;
  line-height: 50px;
  width: 70%;
  text-align: center;
  opacity: 0;
  resize: none;
}

.Pitch .EditLineupName:hover {
  opacity: 1;
}

.Pitch .PositionIndicator {
  position: absolute;
  width: 6%;
  height: 6%;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.2);
  transform: translate(-50%) rotateX(45deg);
}

.grabbable {
  cursor: pointer;
  user-select: none;
}

.PlayerCard {
  width: 17%;
  height: 17.5%;
  /* top: 10px;
  left: 10px; */
  z-index: 300;
  position: absolute;
  text-align: center;
  cursor: move;
  will-change: transform;
  border-radius: 5px;
  font-family: 'saira condensed', Arial, Helvetica, sans-serif;
  font-weight: 500;
}

.PlayerCard:hover {
  background: rgba(0, 0, 0, 0.2);
}

.PlayerCard .Portrait {
  position: absolute;
  top: 0;
  left: 50%;
  width: 80%;
  height: auto;
  transform: translateX(-50%);
  border-bottom: 2px solid white;
}

.PlayerCard p {
  position: absolute;
  text-transform: uppercase;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  width: 100%;
  bottom: 0;
  margin: 0;
  font-size: 16px;
  user-select: none;
}

.disabled {
  opacity: 0.5;
  cursor: default !important;
}

@media screen and (max-width: 910px) {
  h1 {
    font-size: 35px;
    margin: 13px auto;
  }

  .App {
    width: 100vw;
    height: unset;
  }

  .Settings > div {
    position: absolute;
    left: 0;
    margin-left: 2vw;
    width: 96vw;
  }

  .Settings .Results {
    position: absolute;
    width: 100%;
    z-index: 500;
  }

  .Settings .Customize {
    bottom: unset;
    top: calc(100vw + 80px);
  }

  .Settings .Customize select{
    margin: 0;
    width: calc(50% - 8px);
  }

  .Pitch {
    width: 100vw;
    height: 100vw;
    left: -2vw;
    top: 65px;
  }

  .Pitch .LineupName {
    top: 0;
  }

  .Pitch .EditLineupName {
    top: 0;
  }

  .PlayerCard {
    height: 19%;
  }
}