.App {
  display: flex;
  margin: 0 auto;
  flex-direction: row;
  justify-content: space-between;
  width: 900px;
  border: 2px dashed orange;
}

.Settings {
  width: 340px;
  height: 640px;
  border: 1px dashed pink;
}

.Settings .Sub-title {
  margin: 25px 0;
  font-size: 25px;
  font-family: "suez one", "open sans", Arial, Helvetica, sans-serif;
  letter-spacing: 4px;
}

.Settings .Search-player {
  width: 100%;
  padding: 0 10px;
  background: #fafafa;
  height: 56px;
  font-size: 16px;
  border-radius: 3px;
  border: none;
}

.Pitch {
  width: 500px;
  border: 1px dashed pink;
}