body {
  margin: 0;
  padding: 0;
  font-family: "open sans", Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #681b27;
  color: #fafafa;
  width: 100%;
  overflow-x: hidden;
}

h1 {
  margin: 20px 0;
  font-size: 50px;
  text-align: center;
  font-family: "saira condensed", "open sans", Arial, Helvetica, sans-serif;
  font-weight: 800;
  text-transform: capitalize;
}
